@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




:root{

    --text_color:rgba(255, 255, 255, 0.863);
    /* --bg_color:#181823; */
    --bg_color:#15152b;
    --font_outfit:"Outfit", sans-serif;
    --primary_color:#8721e7a6;
    --secundary_color:#b790dbf6;
    --terciary_color:#20b7e0;
    --button_color:#20b6e0a9;
}

*{
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    
}

